.container {
    display: flex;
    flex-direction: column;
    font-family: HelveticaNeue;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    font-style: italic;
    margin-left: 130px;
    margin-right: 200px;
} 

.header a {
    color: #707070;
    font-size: 20px;
    line-height: 70px;
    text-decoration: none;
}

.logo {
    color: #707070;
    font-size: 44px;
    margin: 0;
    margin-top: 15px;
    text-align: center;
}

.logo-underline {
    width: 107px;
    height: 7px;
    background-color: #B5C401;
    border-radius: 6px;
    margin-bottom: -3px;
}

.home {
    margin: 0;
    margin-left: 32px;
}

.account {
    margin: 0;
    margin-right: 20px;
}

.logout {
    margin: 0;
    margin-left: 20px;
}

.left-menu {
    display: flex;
}

.right-menu {
    display: flex;
}

hr {
    width: 100%;
    height: 0;
    color: #EBEBEB;
    border: #EBEBEB solid 1px;
    margin-top: 0;
    z-index: -1;
}

/* CONTENT */

.content {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 200px;
}

.bet-board {
    margin-right: 40px;
}

.bet-board h1 {
    color: #707070;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    margin-top: 72px;
}

.choose-game {
    color: #868686;
    font-size: 17px;
    font-style: italic;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 33px;
}

.game-button {
    border-radius: 100px;
    border: 1px #7F3992 solid;
    background-color: white;
    width: 113px;
    height: 34px;
    font-size: 14px;
    font-style: italic;
    color: #7F3992;
    margin-right: 25px;
}

.fill-bet {
    color: #868686;
    font-style: italic;
}

.game-description {
    color: #868686;
    line-height: 24px;
    font-style: italic;
    margin-right: 72px;
    margin-bottom: 27px;
}

.board-button {
    background-color: #ADC0C4;
    border-radius: 100%;
    border: none;
    font-size: 20px;
    line-height: 24px;
    color: white;
    padding: 20px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;
    width: 63px;
    height: 65px;
}

.action-buttons {
    display: flex;
    align-items: flex-start;
    justify-content: start;
}

.action-button {
    background-color: white;
    border: 1px solid #27C383;
    font-size: 16px;
    color: #27C383;
    border-radius: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 44px;
    margin-right: 25px;
}

.cart-button {
    background-color: #27C383;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 44px;
    margin-left: auto;
}

/* CART */

.cart {
    display: flex;
    flex-direction: column;
    color: #707070;
    border: 1px solid #E2E2E2;
    justify-content: space-between;
    border-radius: 10px;
    min-width: 317px;
    margin-top: 40px;
    height: fit-content;
}

.cart h1 {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 35px;
}

.cart-itens {
    padding-left: 16px;
    padding-right: 16px;
}

.item {
    display: flex;
    margin-bottom: 32px;
}

.item img {
    width: 20px;
}

.bar {
    width: 4px;
    height: 86px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background-color: #7F3992;
    margin-left: 14px;
    margin-right: 12px;
}

.item-game {
    display: flex;
}

.item-game-name {
    color: #7F3992;
    margin-right: 14px;
    font-style: italic;
}

.cart-total {
    font-size: 24px;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 47px;
}

.save-button {
    color: #27C383;
    font-size: 35px;
    font-style: italic;
    border: none;
    border-top: 1px solid #E2E2E2;
    padding: 27px;
    background-color: white;
    width: 100%;
    margin-bottom:5px;
}